<%= form_for(@sold_item) do |f| %>
  <% if @sold_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sold_item.errors.count, "error") %> prohibited this sold_item from being saved:</h2>

      <ul>
      <% @sold_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
