<h1>Listing sold_items</h1>

<table>
  <thead>
    <tr>
      <th>Sale</th>
      <th>Product</th>
      <th>Start date</th>
      <th>End date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sold_items.each do |sold_item| %>
      <tr>
        <td><%= sold_item.sale_id %></td>
        <td><%= sold_item.product_id %></td>
        <td><%= sold_item.start_date %></td>
        <td><%= sold_item.end_date %></td>
        <td><%= link_to 'Show', sold_item %></td>
        <td><%= link_to 'Edit', edit_sold_item_path(sold_item) %></td>
        <td><%= link_to 'Destroy', sold_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sold item', new_sold_item_path %>
<%= link_to 'New Sold item', report_sold_item_path %>
