<p id="notice"><%= notice %></p>

<p>
  <strong>Sale:</strong>
  <%= @sold_item.sale_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @sold_item.product_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @sold_item.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @sold_item.end_date %>
</p>

<%= link_to 'Edit', edit_sold_item_path(@sold_item) %> |
<%= link_to 'Back', sold_items_path %>
