<h1>Product and Inventory Management</h1>
<%= link_to 'New Product Inventory', new_product_path %>
<hr>
<style>
    table, td, th
    {
        border:1px solid teal;
    }
    th
    {
        background-color:teal;
        color:lightgrey;
    }

    th, td
    {
        padding:15px;
    }
</style>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Qty</th>

    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.qty %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
