<%= form_for(@supplier) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% @supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %>
    <%= f.collection_select :product_id, Product.all, :id, :name, :prompt_text => true %>
  </div>
  <div class="field">
    <%= f.label :date_r, "Date Received"%>
    <%= f.date_select :date_r, :order => [:month, :day, :year] %>
  </div>
  <div class="field">
    <%= f.label :qty_r, "Quantity Received" %>
    <%= f.number_field :qty_r %>
  </div>
  <div class="actions">
    <%= f.submit "Add Product Inventory" %>
  </div>
<% end %>
