<h1>Product Suppliers</h1>
<hr>
<style>
    table, td, th
    {
        border:1px solid teal;
    }
    th
    {
        background-color:teal;
        color:lightgrey;
    }

    th, td
    {
        padding:15px;
    }
</style>
<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Date Received</th>
      <th>Qty Received</th>
      <th></th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.product.name %></td>
        <td><%= supplier.date_r %></td>
        <td><%= supplier.qty_r %></td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
        <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Product Received', new_supplier_path %>
