<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @supplier.product.name %>
</p>

<p>
  <strong>Date Recieved:</strong>
  <%= @supplier.date_r %>
</p>

<p>
  <strong>Qty Recieved:</strong>
  <%= @supplier.qty_r %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
