<%= form_for(@sale) do |f| %>
    <% if @sale.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

          <ul>
            <% @sale.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :product_id, "Select Product"%><br>
      <%= f.collection_select :product_id, Product.all, :id, :name, :prompt_text => true %>
    </div>
    <div class="field">
      <%= f.label :date, "Date of Sale"%><br>
      <%= f.date_select :date, :order => [:month, :day, :year] %>
    </div>
    <div class="field">
      <%= f.label :qty, "Qty Sold"%><br>
      <%= f.number_field :qty %>
    </div>
    <div class="field">
      <%= f.label :price, "Unit Price" %><br>
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :total %>
      <%= f.hidden_field :total %>
      will be calculated when submitted
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>