<h1>Sales Transactions</h1>
<%= link_to 'Add New Sale', new_sale_path %>
<%= link_to "View Product Inventory", products_path %>
<%= link_to "Advanced Search", new_sold_item_path %>

<hr>
<style>
    table, td, th
    {
        border:1px solid teal;
    }
    th
    {
        background-color:teal;
        color:lightgrey;
    }

    th, td
    {
        padding:15px;
    }
</style>
<br>
<table>
  <thead>
  <tr>
    <th>Product</th>
    <th>Date</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @sales.each do |sale|  %>
      <tr>

        <td><%= sale.product.name %></td>
        <td><%= sale.date %></td>
        <td><%= sale.qty %></td>
        <td><%= number_to_currency(sale.price) %></td>
        <td><%= number_to_currency(sale.total) %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br><br>
<table>
  <thead>
  <tr>
    <th>Total Qty Sold</th>
    <th>Average Total</th>
    <th>Total Sales</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= Sale.sum(:qty) %></td>
    <td><%= number_to_currency(Sale.average(:total)) %></td>
    <td><%= number_to_currency(Sale.sum(:total))%></td>
  </tr>
  </tbody>
</table>



