<table>
  <thead>
  <tr>
    <th>Product</th>
    <th>Date</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @sales.each do |sale|  %>
      <tr>

        <td><%= sale.product.name %></td>
        <td><%= sale.date %></td>
        <td><%= sale.qty %></td>
        <td><%= number_to_currency(sale.price) %></td>
        <td><%= number_to_currency(sale.total) %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<p>Total Qty Sold</p>
<p><%= Sale.sum(:qty) %></p>
<p> Average Total</p>
<p><%= number_to_currency(Sale.average(:total)) %></p>
<br>