<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @sale.product.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @sale.date %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @sale.qty %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@sale.price) %>
</p>

<p>
  <strong>Total:</strong>
  <%= number_to_currency(@sale.total) %>
</p>
<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
