<!DOCTYPE html>
<html>

<head>
  <title>Kevang Desai - Individual Project - Individual Project </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<style>

   ul{
      list-style-type: none;
      margin: 2;
      padding: 4;

  }

  li{
      display:inline-block;
      color: #14998b;

  }

</style>
<body>


<li><font size="4">Navigation: </font></li>

<li><font size="3"><%= link_to "Products", products_path%></font></li>
<li><font size="3"><%= link_to "Suppliers", suppliers_path%> </font></li>
<li><font size="3"><%= link_to "Sales", sales_path%></font></li>
<hr>

<%= yield %>

</body>
</html>
